body {
  margin: 0;
  padding: 0;
  font-family: scandia-web, sans-serif;
  font-style: normal;
}

a {
  color: #6EC191;
  text-decoration: none;
}

a:visited {
  color: #6EC191;
}

a:hover {
  color: #6EC191;
}

a:active {
  color: #6EC191;
}

/* Login Styles */

.login-grid {
  display: grid;
  grid-template-rows: 96% 4%;
  height: 100%;
  background-color: #3E424C;
}

.login-footer {
  display: flex;
  grid-row: 2;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #93939E;
}

.login-container {
  display: flex;
  grid-row: 1;
  align-items: center;
  justify-content: center;
}

.login-box {
  display: grid;
  grid-template-rows: 30% 60% 10%;
  width: 50%;
  height: 50%;
  background-color: #33353E;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form-header {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #FFF;
}

.login-form {
  grid-row: 2;
  display: grid;
  grid-template-rows: 25% 35% 40%;
}

.login-input-container {
  margin-left: 3rem;
  margin-right: 3rem;
}

.username-grid{
  grid-row: 1;
}

.password-grid{
  grid-row: 2;
}

.login-input {
  width: 100%;
  height: 2rem;
  border-radius: 8px;
  border: none;
  padding-left: 1rem;
}

input[type="text"], input[type="password"] {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="text"]:focus,
input[type="text"]:active,
input[type="password"]:focus,
input[type="password"]:active {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

.login-btn-container {
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-self: center;
}

.login-btn {
  width: 30%;
  height: 2rem;
  border: none;
  border-radius: 100px;
  font-family: scandia-web, sans-serif;
  font-style: normal;
  background: #6EC191;
  transition: transform 0.3s ease;
}

.login-btn:hover {
  cursor: pointer;
  background: #6EC181;
  transform: scale(1.05);
}

.login-form-footer {
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #93939E;
  padding-bottom: 0.5rem;
}

.login-validation-msg {
  font-size: 0.7rem;
  color: #ff4500;
}

.logout-success-msg {
  font-size: 0.7rem;
  color: #6EC191;
}

/* CMS Styles */

.cms-grid {
  display:grid;
  grid-template-columns: 15% 85%;
}

.cms-nav-panel {
  grid-column: 1;
}

.cms-main {
  grid-column: 2;
}